<!-- <div *ngIf="author"> -->

  <form (ngSubmit)="createAuthor(newAuthorForm)" [formGroup]="newAuthorForm" novalidate >

    <div class="mdl-grid" >
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield">
           <label class="mdl-textfield__label" for="first_name">Fist Name</label>
           <input type="text" class="mdl-textfield__input"  name="first_name" id="first_name"
             formControlName="firstName"
           >
           <small [hidden]="!formErrors.firstName">
              {{ formErrors.firstName }}
           </small>
         </div>
      </div>

      <div class="mdl-cell mdl-cell--12-col" >
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
         <label class="mdl-textfield__label" for="last_name">Last Name</label>
         <input type="text" class="mdl-textfield__input" name="last_name" id="last_name"
           formControlName="lastName"
         >
          <small [hidden]="!formErrors.lastName">
             {{ formErrors.lastName }}
          </small>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--12-col" >
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
         <input type="text" class="mdl-textfield__input" id="age" name="age"
           formControlName="age"
         >
         <label class="mdl-textfield__label" for="age">Age</label>
         <small [hidden]="!formErrors.age">
            {{ formErrors.age }}
         </small>
       </div>
      </div>
    </div>

    <!-- <div class="margin-20">
       <div>newAuthorForm details:-</div>
       <pre>Is newAuthorForm valid?: <br>{{newAuthorForm.valid | json}}</pre>
       <pre>Is newAuthorForm submitted?: <br>{{submitted | json}}</pre>
       <pre>newAuthorForm value: <br>{{newAuthorForm.value | json}}</pre>
    </div> -->

    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <button type="submit"  class="mdl-button mdl-js-button mdl-button--raised">Create</button>

  </form>

<!-- </div> -->
