<div *ngIf="author">

  <form (ngSubmit)="updateAuthor(updateAuthorForm)" [formGroup]="updateAuthorForm" novalidate >

    <div class="mdl-grid" >
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield">
           <label class="mdl-textfield__label" for="first_name">Fist Name</label>
           <input type="text" class="mdl-textfield__input"  name="first_name" id="first_name"
             formControlName="first_name"
           >
           <small [hidden]="!formErrors.first_name">
              {{ formErrors.first_name }}
           </small>
         </div>
      </div>

      <div class="mdl-cell mdl-cell--12-col" >
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
         <label class="mdl-textfield__label" for="last_name">Last Name</label>
         <input type="text" class="mdl-textfield__input" name="last_name" id="last_name"
           formControlName="last_name"
         >
          <small [hidden]="!formErrors.last_name">
             {{ formErrors.last_name }}
          </small>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--12-col" >
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
         <input type="text" class="mdl-textfield__input" id="age" name="age"
           formControlName="age"
         >
         <label class="mdl-textfield__label" for="age">Age</label>
         <small [hidden]="!formErrors.age">
            {{ formErrors.age }}
         </small>
       </div>
      </div>
    </div>


    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Update Author</button>
  </form>

</div>
